
<form method="post">
  <div><input type="text" name="email" placeholder="Introduce tu email"></div>
  <div><input type="password" name="password" placeholder="Introduce tu password"></div>

  <div>
    <button>entrar</button>
  </div>
</form>
