<h1>Buenvenido a Frokr</h1>
<p> esto es una coleccion de modificaciones <P>
<% if @photos.any? %>
  <h2> ultimas fotos publicadas </h2>
  <% @photos.each do |photo| %>
    <img src="<%=photo.url%>" alt=<%=photo.name%> height='150'>
  <% end %>
<% else %>
  <p>se el primero en publicar fotos<p>
<% end %>
