
<h1>Buenvenido a Frokr</h1>
<p> esto es una coleccion de modificaciones <P>
<% if @photos.any? %>
  <h2> ultimas fotos publicadas </h2>
 <% render partial: "/photos/photos_loop", object: @photos %>
<% else %>
  <p>se el primero en publicar fotos<p>
<% end %>
